* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9fdff;
    font-family: century gothic;
}

.box {
    max-width: 1140px;
    margin: 0 auto;
}

.nav_buttonBasket {
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    margin-top: 10px;
}

.cart-button {
    border: 1px solid #e8e8e8;
    padding: 3px 24px 3px 24px;
    font-size: 16px;
    line-height: 30px;
    background-color: darkgray;
    align-items: center;
    justify-content: center;
    color: #e8e8e8;
}

.cart-button:hover {
    background-color: #fff;
    color: #000;
    opacity: 0.8;
    border: 1px solid #f5deb3;
}

.cart-button:hover path {
    fill: #000000;
}

.search-submit {
    position: absolute;
    line-height: 32px;
    border: none;
    background: none;
    margin-left: 5px;
}

.product-img {
    width: 100%;
}

.goods-list {
    border: 2px solid darkgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 10px;
    gap: 30px;
}

.goods-item {
    border: 1px solid black;
    width: 236px;
    box-sizing: border-box;
    padding: 10px 15px;
    margin: 10px 10px;
}

h3.product-title {
    text-align: end;
}

p.product-price {
    text-align: end;
}

button.by-btn {
    width: 100%;
    border: 1px solid #e8e8e8;
    padding: 3px 24px 3px 24px;
    background-color: darkgray;
    align-items: center;
    justify-content: center;
    color: #e8e8e8;
    margin-bottom: 20px;
    margin-top: 10px;
}

button.by-btn:hover {
    background-color: #fff;
    color: #000;
    opacity: 0.8;
    border: 1px solid #000;
}